@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto; 
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
}
.homePage {
	background: ##93A7F0;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #7E74EF;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #54ACF0;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: ##1F00F0;
	margin: 0px;
	float: left;
	width: 100%;
	
	text-align: center;
}
.footer {
	background: ##A8A3F0;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;a:link {
     color: #000000;
}
a:link {
     color: #000000;
}
a:visited {
     color: #000;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
